<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <style>
    body {
      background-color: #1a1a1a;
      color: #fff;
      font-family: Arial, sans-serif;
    }
    h1 {
      text-align: center;
      margin-top: 50px;
    }
    div {
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h1>Home Page</h1>
  <div>
    <img src="https://media.giphy.com/media/mcsPU3SkKrYDdW3aAU/giphy.gif" width="480" height="480" frameBorder="0" >
  </div>
  <div>
    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="https://uabj-psycho.up.railway.app/register" target="_blank">Register</a>
    </li>
  </div>
</body>
</html>